{
    "is_dev_env": true,
    "log_filepath": "12306.log",
    "log_level": "debug",
    "log_split_mb_size": 100,
    "log_keep_days": 7,

    "cdn_path": "cdn.txt",
    "good_cdn_path": "good_cdn.txt",

    "ocr_url": "http://121.37.199.60:12310/check",

    "serverchan 注释": "需要关注方糖公众号才能正常接收消息",
    "serverchan": {
        "on 注释": "是否开启 server酱 微信提醒",
        "on": true,
        "skey 注释": "在 https://sct.ftqq.com/login 扫码绑定获取 SKey",
        "skey": "SCT103980TrMaUQ7DEmejh5wbLK1Hq64cX"
    }
}